<p>
  <b>Title:</b>
  <%=h @albums.title %>
</p>

<p>
  <b>Artist:</b>
  <%=h @albums.artist %>
</p>

<p>
  <b>Release date:</b>
  <%=h @albums.release_date %>
</p>

<p>
  <b>Genre:</b>
  <%=h @albums.genre %>
</p>
